@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Base reset ---------- */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* ---------- Scrollbars ---------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}

/* ---------- Reusable helpers ---------- */
.shadow-card {
  box-shadow: var(--shadow-card);
}

.react-flow {
  pointer-events: all;
}

.react-flow__pane {
  cursor: grab;
}

.react-flow__pane:active {
  cursor: grabbing;
}

.react-flow__node {
  cursor: pointer;
}

.react-flow__node {
  pointer-events: all;
}

.react-flow__node-default {
  cursor: grab;
}

.react-flow__node-default:active {
  cursor: grabbing;
}
